<% include header %>

  <h1><%-title %></h1>
  <p>Welcome to <%-title %></p>

<div>
  <span id="session-message">Your session will expire in:</span>
  <span id="session-time">300</span>
</div>
<% include footer %>
