<% include header %>

  <h1><%-title %></h1>
  <p>Welcome to <%-title %></p>
<script type="text/javascript" src="/js/validator-example.js"></script>

<div>
  <span id="session-message">Your session will expire in:</span>
  <span id="session-time"></span>
</div>
<div id="more-time" style="display:none;">
  <button id="refresh" name="I need more time">I need more time</button>
</div>
<% include footer %>
